body {
  margin: 0;
  background-color: #0E6655;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table,td,th{
  border: 3px solid black;
  margin: 20px;
  
}
.td2,.td1,.td5{
  height: 100px;
  width: 100px;
  text-align: center;
}
.td3{
  height: 100px;
  width: 400px; 
  text-align: center;
}
.td4{
  height: 100px;
  width: 200px;
  text-align: center;
}
.td5 button{
   height: 50px;
   width: 100px;
   background-color: rgb(12, 43, 33);
   color: white;
   border-radius: 10px;
}